<div class="jcontent">
  <div class="jcard-container">
    <div class="jcard">
      <ul class="toper ">
        <h6>Projeto</h6>
        <li>Montar Pokestore</li>
        <li>Curso Hiring Coders</li>
        <li>Gama Academy</li>
        <li><br></li>

      </ul>
    </div>
    <div class="jcard">
      <ul class="toper ">
        <h6>Desafio Base</h6>
        <li>Catálogo de produtos</li>
        <li>Carrinho lateral</li>
        <li>Resumo do carrinho</li>
        <li><br></li>
      </ul>
    </div>
    <div class="jcard">
      <ul class="toper ">
        <h6>Desafio Extra</h6>
        <li>Barra de busca para filtrar os Pokémon</li>
        <li>Botão de finalizar compra, reiniciando o processo de compra</li>
        <li>Modal de obrigado ao finalizar compra</li>
        <li>Salvar os dados da compra do usuário localmente para não perdê-las ao atualizar a página</li>

      </ul>
    </div>
    <div class="jcard">
      <ul class="toper">
        <h6>Autor</h6>
        <li>Jefferson Rodrigues da Silva</li>
        <li>+ 55 11 9 7973-0321</li>
        <li>rs.mensur@gmail.com</li>
        <li>Linkedin</li>
      </ul>
    </div>
  </div>
  <div class="jcard-container">
    <p>olha eu aqui de volta</p>
  </div>
</div>